İhtiyaç duyulan kütüphanelerin importlanması

In [108]:
import pandas as pd
import ast

data'yı oku

In [109]:
data = pd.read_csv("data.csv", 
                   dtype={'period': 'string', 'stdno': 'string', 'Code': 'string', 'classname': 'string', 'classcode': 'string'})
data

,period,stdno,Code,classname
0,GÜZ DÖNEMİ,10022902,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
1,GÜZ DÖNEMİ,11071138,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
2,GÜZ DÖNEMİ,12071011,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
3,GÜZ DÖNEMİ,12071904,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
4,GÜZ DÖNEMİ,13073017,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
...,...,...,...,...
434677,BAHAR DÖNEMİ,20746011,YTT5116 - 1,Sosyal Pedogoji
434678,BAHAR DÖNEMİ,20746017,YTT5116 - 1,Sosyal Pedogoji
434679,BAHAR DÖNEMİ,207B6004,YTT5116 - 1,Sosyal Pedogoji
434680,BAHAR DÖNEMİ,207B6005,YTT5116 - 1,Sosyal Pedogoji
434681,BAHAR DÖNEMİ,207B6008,YTT5116 - 1,Sosyal Pedogoji

sütun adlarını daha anlamlı bir şekilde isimlendir

In [110]:
data.rename(columns={'stdno': 'std_no', 'Code': 'class_code', 'classname': 'class_name'}, inplace=True)
data

,period,std_no,class_code,class_name
0,GÜZ DÖNEMİ,10022902,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
1,GÜZ DÖNEMİ,11071138,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
2,GÜZ DÖNEMİ,12071011,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
3,GÜZ DÖNEMİ,12071904,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
4,GÜZ DÖNEMİ,13073017,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
...,...,...,...,...
434677,BAHAR DÖNEMİ,20746011,YTT5116 - 1,Sosyal Pedogoji
434678,BAHAR DÖNEMİ,20746017,YTT5116 - 1,Sosyal Pedogoji
434679,BAHAR DÖNEMİ,207B6004,YTT5116 - 1,Sosyal Pedogoji
434680,BAHAR DÖNEMİ,207B6005,YTT5116 - 1,Sosyal Pedogoji
434681,BAHAR DÖNEMİ,207B6008,YTT5116 - 1,Sosyal Pedogoji

öğrenci numarası içinde harf olan kayıtları sil

In [111]:
data = data[~data.std_no.str.contains("[a-zA-Z]").fillna(False)].reset_index().drop('index', axis=1)
data

,period,std_no,class_code,class_name
0,GÜZ DÖNEMİ,10022902,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
1,GÜZ DÖNEMİ,11071138,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
2,GÜZ DÖNEMİ,12071011,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
3,GÜZ DÖNEMİ,12071904,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
4,GÜZ DÖNEMİ,13073017,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
...,...,...,...,...
370588,BAHAR DÖNEMİ,22746023,YTT5003 - 8,Uzmanlık Alan Dersi
370589,BAHAR DÖNEMİ,22746025,YTT5003 - 9,Uzmanlık Alan Dersi
370590,BAHAR DÖNEMİ,20746007,YTT5116 - 1,Sosyal Pedogoji
370591,BAHAR DÖNEMİ,20746011,YTT5116 - 1,Sosyal Pedogoji
370592,BAHAR DÖNEMİ,20746017,YTT5116 - 1,Sosyal Pedogoji

In [112]:
lenght8 = data[data.std_no.str.len() == 8]
lenght7 = data[data.std_no.str.len() == 7]
lenght7['std_no'] = lenght7.apply(lambda x: f"0{x.std_no}", axis=1)
data = pd.concat([lenght7, lenght8])
data

C:\Users\bucal\AppData\Local\Temp\ipykernel_38732\1074811838.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lenght7['std_no'] = lenght7.apply(lambda x: f"0{x.std_no}", axis=1)

,period,std_no,class_code,class_name
201,GÜZ DÖNEMİ,03071034,ATA1031 - 10,Atatürk İlkeleri Ve İnkılap Tarihi 1
546,GÜZ DÖNEMİ,06054060,ATA1031 - 12,Atatürk İlkeleri Ve İnkılap Tarihi 1
547,GÜZ DÖNEMİ,08043088,ATA1031 - 12,Atatürk İlkeleri Ve İnkılap Tarihi 1
548,GÜZ DÖNEMİ,09042008,ATA1031 - 12,Atatürk İlkeleri Ve İnkılap Tarihi 1
1269,GÜZ DÖNEMİ,09065086,ATA1031 - 16,Atatürk İlkeleri Ve İnkılap Tarihi 1
...,...,...,...,...
370588,BAHAR DÖNEMİ,22746023,YTT5003 - 8,Uzmanlık Alan Dersi
370589,BAHAR DÖNEMİ,22746025,YTT5003 - 9,Uzmanlık Alan Dersi
370590,BAHAR DÖNEMİ,20746007,YTT5116 - 1,Sosyal Pedogoji
370591,BAHAR DÖNEMİ,20746011,YTT5116 - 1,Sosyal Pedogoji
370592,BAHAR DÖNEMİ,20746017,YTT5116 - 1,Sosyal Pedogoji

öğrenci numarasının 2, 3 ve 4. sayılarını kullanarak o öğrencinin bölüm no'sunu ayrı bir sütuna kaydet

In [113]:
data['department_no'] = data.apply(lambda row: row.std_no[2:5], axis=1)
data.department_no = data.department_no.astype('string')
data

,period,std_no,class_code,class_name,department_no
201,GÜZ DÖNEMİ,03071034,ATA1031 - 10,Atatürk İlkeleri Ve İnkılap Tarihi 1,071
546,GÜZ DÖNEMİ,06054060,ATA1031 - 12,Atatürk İlkeleri Ve İnkılap Tarihi 1,054
547,GÜZ DÖNEMİ,08043088,ATA1031 - 12,Atatürk İlkeleri Ve İnkılap Tarihi 1,043
548,GÜZ DÖNEMİ,09042008,ATA1031 - 12,Atatürk İlkeleri Ve İnkılap Tarihi 1,042
1269,GÜZ DÖNEMİ,09065086,ATA1031 - 16,Atatürk İlkeleri Ve İnkılap Tarihi 1,065
...,...,...,...,...,...
370588,BAHAR DÖNEMİ,22746023,YTT5003 - 8,Uzmanlık Alan Dersi,746
370589,BAHAR DÖNEMİ,22746025,YTT5003 - 9,Uzmanlık Alan Dersi,746
370590,BAHAR DÖNEMİ,20746007,YTT5116 - 1,Sosyal Pedogoji,746
370591,BAHAR DÖNEMİ,20746011,YTT5116 - 1,Sosyal Pedogoji,746
370592,BAHAR DÖNEMİ,20746017,YTT5116 - 1,Sosyal Pedogoji,746

ders kodundaki gereksiz grup no bilgisini kaldır

In [114]:
data.class_code = data.apply(lambda row: row.class_code[:7], axis=1)
data.class_code = data.class_code.astype('string')
data

,period,std_no,class_code,class_name,department_no
201,GÜZ DÖNEMİ,03071034,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,071
546,GÜZ DÖNEMİ,06054060,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,054
547,GÜZ DÖNEMİ,08043088,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,043
548,GÜZ DÖNEMİ,09042008,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,042
1269,GÜZ DÖNEMİ,09065086,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,065
...,...,...,...,...,...
370588,BAHAR DÖNEMİ,22746023,YTT5003,Uzmanlık Alan Dersi,746
370589,BAHAR DÖNEMİ,22746025,YTT5003,Uzmanlık Alan Dersi,746
370590,BAHAR DÖNEMİ,20746007,YTT5116,Sosyal Pedogoji,746
370591,BAHAR DÖNEMİ,20746011,YTT5116,Sosyal Pedogoji,746
370592,BAHAR DÖNEMİ,20746017,YTT5116,Sosyal Pedogoji,746

sütunların yerini daha okunabilir olacak şekilde düzenle

In [115]:
data = data[['std_no', 'department_no', 'class_code', 'class_name', 'period']]
data

,std_no,department_no,class_code,class_name,period
201,03071034,071,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
546,06054060,054,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
547,08043088,043,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
548,09042008,042,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
1269,09065086,065,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
...,...,...,...,...,...
370588,22746023,746,YTT5003,Uzmanlık Alan Dersi,BAHAR DÖNEMİ
370589,22746025,746,YTT5003,Uzmanlık Alan Dersi,BAHAR DÖNEMİ
370590,20746007,746,YTT5116,Sosyal Pedogoji,BAHAR DÖNEMİ
370591,20746011,746,YTT5116,Sosyal Pedogoji,BAHAR DÖNEMİ
370592,20746017,746,YTT5116,Sosyal Pedogoji,BAHAR DÖNEMİ

bölüm kodu ve bölüm numarası eşleşmesi yapmak için yeni bir tablo oluştur. bu tablo, ana verideki öğrenci numarasından çıkartılmış olan bölüm no ve ders kodundan çıkartılmış olan bölüm kodu sütunlarını içeriyor. basit olarak groupby kullanarak her bir kod için en çok kullanılmış olan bölüm no'su değerini bularak eşleştirme yapacağız

In [116]:
department_code_match_table = pd.DataFrame()
department_code_match_table['department_no'] = data.department_no
department_code_match_table['department_code'] = data.class_code
department_code_match_table['department_code'] = department_code_match_table.apply(lambda row: row.department_code[:3], axis=1)
department_code_match_table.department_code = department_code_match_table.department_code.astype('string')
department_code_match_table

       department_no department_code
201              071             ATA
546              054             ATA
547              043             ATA
548              042             ATA
1269             065             ATA
...              ...             ...
370588           746             YTT
370589           746             YTT
370590           746             YTT
370591           746             YTT
370592           746             YTT

[370540 rows x 2 columns]

elle kendi hazırladığımız okulda açık olan tüm bölüm kodunu içeren liste.(havacılık bölümü yok çünkü kayıtları incelediğimizde bölümün kodunu içeren sadece 16 kayıt olduğunu gördük)

In [117]:
department_dict = pd.read_csv("department_dict.csv",
                           dtype={'department_code': 'string', 'faculty_name': 'string'})
department_dict

   department_code                               department_name
0              BTO           Bilgisayar ve Öğretim Teknolojileri
1              PDR           Rehberlik ve Psikolojik Danışmanlık
2              FBO                           Fen Bilgisi Eğitimi
3              IMO                 İlköğretim Matematik Öğretimi
4              OKL                            Okulöncesi Eğitimi
5              SNF                            Sınıf Öğretmenliği
6              SBO                       Sosyal Bilgiler Eğitimi
7              TRO                                Türkçe Eğitimi
8              ING                        İngilizce Öğretmenliği
9              BLM                       Bilgisayar Mühendisliği
10             BME                      Biyomedikal Mühendisliği
11             ELM                         Elektrik Mühendisliği
12             EHM         Elektronik ve Haberleşme Mühendisliği
13             KOM                Kontrol Otomasyon Mühendisliği
14             MTF                Fransızca Mütercim Tercümanlık
15             FIZ                                         Fizik
16             IST                                    İstatistik
17             KIM                                         Kimya
18             MAT                                     Matematik
19             MBG                            Moleküler Biyoloji
20             TDE                        Türk Dili ve Edebiyatı
21             GIM  Gemi İnşaatı ve Gemi Makineleri Mühendisliği
22             GMI          Gemi Makineleri İşletme Mühendisliği
23             IKT                                       İktisat
24             ISL                                       İşletme
25             SBU      Siyaset Bilimi ve Uluslararası İlişkiler
26             CEV                            Çevre Mühendisliği
27             HRT                           Harita Mühendisliği
28             INS                           İnşaat Mühendisliği
29             BYM                               Biyomühendislik
30             GDM                             Gıda Mühendisliği
31             KMM                            Kimya Mühendisliği
32             MTM                        Matematik Mühendisliği
33             MSE             Metalürji ve Malzeme Mühendisliği
34             END                         Endüstri Mühendisliği
35             MAK                           Makine Mühendisliği
36             MKT                       Mekatronik Mühendisliği
37             KVK          Kültür Varlıklarını Koruma ve Onarım
38             MIM                                      Mimarlık
39             SBP                       Şehir ve Bölge Planlama
40             ILT                          İletişim ve Tasarımı
41             MTP                            Müzik Toplulukları
42             DTP                        Ses Sanatları Tasarımı
43             DNS                                          Dans
44             BSP                              Bileşik Sanatlar
45             SYP                      Sanat ve Kültür Yönetimi
46             FVP                             Fotoğraf ve Video
47             GRA                               Grafik Tasarımı
48             EUT                    Endüstri Ürünleri Tasarımı

daha sonra filtreleme için kullanmak üzere tüm bölüm kodlarını içeren bir liste oluştur

In [118]:
department_code_list = list(department_dict.department_code)
department_code_list

['BTO',
 'PDR',
 'FBO',
 'IMO',
 'OKL',
 'SNF',
 'SBO',
 'TRO',
 'ING',
 'BLM',
 'BME',
 'ELM',
 'EHM',
 'KOM',
 'MTF',
 'FIZ',
 'IST',
 'KIM',
 'MAT',
 'MBG',
 'TDE',
 'GIM',
 'GMI',
 'IKT',
 'ISL',
 'SBU',
 'CEV',
 'HRT',
 'INS',
 'BYM',
 'GDM',
 'KMM',
 'MTM',
 'MSE',
 'END',
 'MAK',
 'MKT',
 'KVK',
 'MIM',
 'SBP',
 'ILT',
 'MTP',
 'DTP',
 'DNS',
 'BSP',
 'SYP',
 'FVP',
 'GRA',
 'EUT']

kayıtlardan, bölüm kodu listesinde olmayan kayıtları siliyoruz. böylece örneğin ITB, ATA gibi kodları içeren dersler tablodan kaldırılmış oluyor.

In [119]:
department_code_match_table = department_code_match_table[department_code_match_table.department_code.isin(department_code_list)]
department_code_match_table = department_code_match_table.reset_index().drop('index', axis=1)
department_code_match_table

       department_no department_code
0                011             BLM
1                011             BLM
2                011             BLM
3                011             BLM
4                011             BLM
...              ...             ...
291345           097             TRO
291346           084             TRO
291347           031             TRO
291348           097             TRO
291349           084             TRO

[291350 rows x 2 columns]

department_code üzerinde groupby yaparak, her bir department_code için en çok kullanılan department_no'yu buluyoruz. en çok kullanılan department_no'yu o bölümün bölüm kodu olarak atıyoruz

In [120]:
department_code_match_table = department_code_match_table.groupby('department_code')['department_no'].apply(lambda x: x.value_counts().index[0]).reset_index()
department_code_match_table

   department_code department_no
0              BLM           011
1              BME           017
2              BSP           081
3              BTO           091
4              BYM           056
5              CEV           041
6              DNS           086
7              DTP           083
8              EHM           014
9              ELM           012
10             END           061
11             FBO           095
12             FIZ           022
13             FVP           084
14             GDM           057
15             GIM           508
16             GMI           508
17             GRA           089
18             HRT           046
19             IKT           031
20             ILT           085
21             IMO           098
22             ING           093
23             INS           042
24             ISL           033
25             IST           023
26             KIM           024
27             KMM           051
28             KOM           015
29             KVK           074
30             MAK           065
31             MAT           065
32             MBG           028
33             MIM           071
34             MKT           067
35             MSE           527
36             MTF           026
37             MTM           052
38             MTP           086
39             OKL           099
40             PDR           094
41             SBO           097
42             SBP           072
43             SBU           034
44             SNF           096
45             SYP           087
46             TDE           027
47             TRO           098

ana tablomuzdaki department_no değerine bakıp, herhangi bir bölüme ait olmayan değer içeren satırları siliyoruz. böylece yüksek lisans tarzı kayıtlar silinmiş oluyor

In [121]:
data = data[data.department_no.isin(list(department_code_match_table.department_no))].reset_index().drop('index', axis=1)
data

,std_no,department_no,class_code,class_name,period
0,03071034,071,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
1,09042008,042,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
2,09065086,065,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
3,08012020,012,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
4,06071048,071,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
...,...,...,...,...,...
263244,21097003,097,TRO4402,Dil Ve Kültür,BAHAR DÖNEMİ
263245,22084037,084,TRO4402,Dil Ve Kültür,BAHAR DÖNEMİ
263246,16031065,031,TRO4512,Çağdaş Türk Edebiyatı,BAHAR DÖNEMİ
263247,21097003,097,TRO4512,Çağdaş Türk Edebiyatı,BAHAR DÖNEMİ
263248,22084037,084,TRO4512,Çağdaş Türk Edebiyatı,BAHAR DÖNEMİ

kendi hazırladığımız, tüm bölümlerin mesleki seçmeli derslerini içeren tablomuzu okuyoruz

In [122]:
elective_courses = pd.read_csv("elective_courses.csv", 
                               dtype={'department_code': 'string'}, 
                               converters={"elective_courses": ast.literal_eval})
elective_courses

   department_code                                   elective_courses
0              GRA  [GRA2100, GRA2110, GRA2120, GRA2130, GRA2140, ...
1              FVP  [FVP1402, FVP1412, FVP2441, FVP2401, FVP2471, ...
2              SYP  [SYP1432, SYP2110, SYP2140, SYP2510, SYP2770, ...
3              BSP  [BSP2141, BSP2321, BSP2372, BSP2411, BSP2412, ...
4              DNS  [DNS2651, DNS2652, DNS2681, DNS2682, DNS3701, ...
5              DTP  [DTP1511, DTP1531, DTP1541, DTP1591, DTP1552, ...
6              MTP  [MTP1721, MTP1731, MTP1741, MTP1751, MTP1011, ...
7              ILT  [ILT2701, ILT2702, ILT2711, ILT2712, ILT2721, ...
8              SBP  [SBP3100, SBP1300, SBP1310, SBP1312, SBP2300, ...
9              MIM  [MIM2020, MIM3550, MIM4510, MIM3540, MIM3101, ...
10             KVK  [KVK2111, KVK2121, KVK2131, KVK2141, KVK2112, ...
11             MKT  [MKT3861, MKT3871, MKT4811, MKT4813, MKT4815, ...
12             MAK  [MAK3071, MAK3081, MAK3671, MAK3561, MAK3141, ...
13             END  [END3580, END3590, END3712, END3730, END3750, ...
14             MSE  [MSE3501, MSE3511, MSE3521, MSE3531, MSE3541, ...
15             MTM  [MTM2552, MTM2562, MTM2572, MTM2582, MTM2622, ...
16             KMM  [KMM2642, KMM3551, KMM3561, KMM3571, KMM3581, ...
17             GDM  [GDM3262, GDM3282, GDM3192, GDM3292, GDM3332, ...
18             BYM  [BYM2201, BYM2301, BYM2401, BYM2502, BYM2602, ...
19             INS  [INS2921, INS2931, INS2932, INS2942, INS3832, ...
20             HRT  [HRT2911, HRT2912, HRT2932, HRT2934, HRT3252, ...
21             CEV  [CEV1142, CEV2231, CEV2132, CEV2142, CEV2152, ...
22             SBU  [SBU3502, SBU3561, SBU2252, SBU3126, SBU3125, ...
23             ISL  [MKT4838, ISL4150, ISL3940, ISL4820, ISL3990, ...
24             BTO  [BTO2130, BTO2110, BTO2120, BTO2140, BTO2150, ...
25             PDR  [EGT2050, EGT2060, EGT2070, EGT2080, EGT2090, ...
26             FBO  [EGT2050, EGT2060, EGT2070, EGT2080, EGT2090, ...
27             IMO  [EGT2050, EGT2060, EGT2070, EGT2080, EGT2090, ...
28             OKL  [EGT2050, EGT2060, EGT2070, EGT2080, EGT2090, ...
29             SNF  [EGT2150, EGT2160, EGT2170, EGT2180, EGT2190, ...
30             SBO  [EGT2150, EGT2160, EGT2170, EGT2180, EGT2190, ...
31             TRO  [EGT2050, EGT2060, EGT2070, EGT2080, EGT2090, ...
32             ING  [EGT2050, EGT2060, EGT2070, EGT2080, EGT2090, ...
33             BLM  [BLM3520, BLM3590, BLM4992, BLM4993, BLM4994, ...
34             EHM  [EHM4992, EHM4993, EHM4994, BLM3110, BLM3120, ...
35             ELM  [ELM2080, ELM2010, ELM2020, ELM2030, ELM2040, ...
36             BME  [BME4994, BME4370, BME4570, BME3150, BME4730, ...
37             KOM  [KOM2512, KOM2522, KOM2532, KOM2542, KOM3511, ...
38             MTF  [MTF2431, MTF1381, MTF1391, MTF1382, MTF1392, ...
39             FIZ  [FIZ3240, FIZ3260, FIZ3270, FIZ3340, FIZ3520, ...
40             IST  [IST2092, IST2122, IST2082, IST2172, IST2170, ...
41             KIM  [KIM3481, KIM2061, KIM2571, KIM2591, KIM2601, ...
42             MAT  [MTM2511, MAT4550, MAT4570, MAT4560, MAT4510, ...
43             GIM  [GIM3351, GIM3321, GIM3751, GIM3331, GIM3361, ...
44             GMI  [GMI3851, GMI3861, GMI3871, GMI4211, GMI4221, ...
45             MBG  [MBG4032, MBG4042, MBG4052, MBG4062, MBG4282, ...
46             TDE  [TDE1305, TDE1301, TDE2312, TDE2302, TDE2304, ...
47             IKT  [IKT4790, IKT3912, IKT3810, IKT3820, IKT3830, ...

az önce elde ettiğimiz department_code_match_table'daki değerleri kullanarak elective_courses tablosuna department_no sütunu ekledik

In [123]:
elective_courses['department_no'] = elective_courses.apply(
    lambda row: department_code_match_table[department_code_match_table.department_code == row.department_code].reset_index().at[0, 'department_no'], axis=1)
elective_courses = elective_courses[['department_code', 'department_no', 'elective_courses']]
elective_courses

,department_code,department_no,elective_courses
0,GRA,089,"[GRA2100, GRA2110, GRA2120, GRA2130, GRA2140, ..."
1,FVP,084,"[FVP1402, FVP1412, FVP2441, FVP2401, FVP2471, ..."
2,SYP,087,"[SYP1432, SYP2110, SYP2140, SYP2510, SYP2770, ..."
3,BSP,081,"[BSP2141, BSP2321, BSP2372, BSP2411, BSP2412, ..."
4,DNS,086,"[DNS2651, DNS2652, DNS2681, DNS2682, DNS3701, ..."
5,DTP,083,"[DTP1511, DTP1531, DTP1541, DTP1591, DTP1552, ..."
6,MTP,086,"[MTP1721, MTP1731, MTP1741, MTP1751, MTP1011, ..."
7,ILT,085,"[ILT2701, ILT2702, ILT2711, ILT2712, ILT2721, ..."
8,SBP,072,"[SBP3100, SBP1300, SBP1310, SBP1312, SBP2300, ..."
9,MIM,071,"[MIM2020, MIM3550, MIM4510, MIM3540, MIM3101, ..."
10,KVK,074,"[KVK2111, KVK2121, KVK2131, KVK2141, KVK2112, ..."
11,MKT,067,"[MKT3861, MKT3871, MKT4811, MKT4813, MKT4815, ..."
12,MAK,065,"[MAK3071, MAK3081, MAK3671, MAK3561, MAK3141, ..."
13,END,061,"[END3580, END3590, END3712, END3730, END3750, ..."
14,MSE,527,"[MSE3501, MSE3511, MSE3521, MSE3531, MSE3541, ..."
15,MTM,052,"[MTM2552, MTM2562, MTM2572, MTM2582, MTM2622, ..."
16,KMM,051,"[KMM2642, KMM3551, KMM3561, KMM3571, KMM3581, ..."
17,GDM,057,"[GDM3262, GDM3282, GDM3192, GDM3292, GDM3332, ..."
18,BYM,056,"[BYM2201, BYM2301, BYM2401, BYM2502, BYM2602, ..."
19,INS,042,"[INS2921, INS2931, INS2932, INS2942, INS3832, ..."
20,HRT,046,"[HRT2911, HRT2912, HRT2932, HRT2934, HRT3252, ..."
21,CEV,041,"[CEV1142, CEV2231, CEV2132, CEV2142, CEV2152, ..."
22,SBU,034,"[SBU3502, SBU3561, SBU2252, SBU3126, SBU3125, ..."
23,ISL,033,"[MKT4838, ISL4150, ISL3940, ISL4820, ISL3990, ..."
24,BTO,091,"[BTO2130, BTO2110, BTO2120, BTO2140, BTO2150, ..."
25,PDR,094,"[EGT2050, EGT2060, EGT2070, EGT2080, EGT2090, ..."
26,FBO,095,"[EGT2050, EGT2060, EGT2070, EGT2080, EGT2090, ..."
27,IMO,098,"[EGT2050, EGT2060, EGT2070, EGT2080, EGT2090, ..."
28,OKL,099,"[EGT2050, EGT2060, EGT2070, EGT2080, EGT2090, ..."
29,SNF,096,"[EGT2150, EGT2160, EGT2170, EGT2180, EGT2190, ..."
30,SBO,097,"[EGT2150, EGT2160, EGT2170, EGT2180, EGT2190, ..."
31,TRO,098,"[EGT2050, EGT2060, EGT2070, EGT2080, EGT2090, ..."
32,ING,093,"[EGT2050, EGT2060, EGT2070, EGT2080, EGT2090, ..."
33,BLM,011,"[BLM3520, BLM3590, BLM4992, BLM4993, BLM4994, ..."
34,EHM,014,"[EHM4992, EHM4993, EHM4994, BLM3110, BLM3120, ..."
35,ELM,012,"[ELM2080, ELM2010, ELM2020, ELM2030, ELM2040, ..."
36,BME,017,"[BME4994, BME4370, BME4570, BME3150, BME4730, ..."
37,KOM,015,"[KOM2512, KOM2522, KOM2532, KOM2542, KOM3511, ..."
38,MTF,026,"[MTF2431, MTF1381, MTF1391, MTF1382, MTF1392, ..."
39,FIZ,022,"[FIZ3240, FIZ3260, FIZ3270, FIZ3340, FIZ3520, ..."
40,IST,023,"[IST2092, IST2122, IST2082, IST2172, IST2170, ..."
41,KIM,024,"[KIM3481, KIM2061, KIM2571, KIM2591, KIM2601, ..."
42,MAT,065,"[MTM2511, MAT4550, MAT4570, MAT4560, MAT4510, ..."
43,GIM,508,"[GIM3351, GIM3321, GIM3751, GIM3331, GIM3361, ..."
44,GMI,508,"[GMI3851, GMI3861, GMI3871, GMI4211, GMI4221, ..."
45,MBG,028,"[MBG4032, MBG4042, MBG4052, MBG4062, MBG4282, ..."
46,TDE,027,"[TDE1305, TDE1301, TDE2312, TDE2302, TDE2304, ..."
47,IKT,031,"[IKT4790, IKT3912, IKT3810, IKT3820, IKT3830, ..."

ana tablomuza to_drop adında yeni bir sütun ekliyoruz. daha sonra bu sütundaki değeri kullanarak hangi satırları sileceğimize karar vereceğiz. her satır için to_drop değeri ise şöyle atanıyor: her satırın class_code ve department_no değeri alınır, eğer class_code değeri department_no'ya karşılık gelen mesleki seçmeli listesinde(elective_courses tablosunda) yok ise to_drop True, var ise False.

In [124]:
data['to_drop'] = data.apply(lambda row: row.class_code not in (elective_courses[elective_courses.department_no == row.department_no].reset_index().at[0, 'elective_courses']),
                                axis=1)
data

,std_no,department_no,class_code,class_name,period,to_drop
0,03071034,071,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ,True
1,09042008,042,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ,True
2,09065086,065,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ,True
3,08012020,012,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ,True
4,06071048,071,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ,True
...,...,...,...,...,...,...
263244,21097003,097,TRO4402,Dil Ve Kültür,BAHAR DÖNEMİ,True
263245,22084037,084,TRO4402,Dil Ve Kültür,BAHAR DÖNEMİ,True
263246,16031065,031,TRO4512,Çağdaş Türk Edebiyatı,BAHAR DÖNEMİ,True
263247,21097003,097,TRO4512,Çağdaş Türk Edebiyatı,BAHAR DÖNEMİ,True
263248,22084037,084,TRO4512,Çağdaş Türk Edebiyatı,BAHAR DÖNEMİ,True

to_drop sütunu True olan satırlarımızı dropluyoruz ve elimizde üzerinde analiz yapılabilecek, kullanılabilir veri kalıyor.

In [125]:
data = data[data.to_drop == False].reset_index().drop(['index', 'to_drop'], axis=1)
data

,std_no,department_no,class_code,class_name,period
0,08011013,011,BLM3120,Bilgiye Erişim Ve Arama Motorları,GÜZ DÖNEMİ
1,09011033,011,BLM3120,Bilgiye Erişim Ve Arama Motorları,GÜZ DÖNEMİ
2,08011057,011,BLM3580,Sistem Programlama,GÜZ DÖNEMİ
3,08011060,011,BLM3590,İstatistiksel Veri Analizi,GÜZ DÖNEMİ
4,09011033,011,BLM3720,Bilgisayar Grafiğine Giriş,GÜZ DÖNEMİ
...,...,...,...,...,...
36067,18027603,027,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
36068,18027604,027,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
36069,18027613,027,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
36070,19027601,027,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
36071,19027605,027,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ

In [126]:
data.to_csv('data_cleaned.csv', index=False)

In [127]:
department_code_match_table.to_csv('dp_code_match_table.csv', index=False)